<article class="blog-card">

    <section class="title-section">
        <div>
     
            <h3 class="title">{{blog.blog_title}}</h3>
    
        <p class="user">By {{blog.username}}</p>
        </div>
        <div>
        <p>Date Created: {{format_date blog.createdAt}}</p>
        <p>Date Updated: {{format_date blog.updatedAt}}</p>
        </div>
    </section>

    <section class="content-section">
        <p>{{blog.content}}</p>
    </section>

   
</article>

   
    <article class="comment-card">
        
    
        <button class="add-comment">Toggle Comment Form</button>
        <form action="input"  class="comment-form hide">
            <input class="username"type="input" placeholder="username">
            <textarea class="comment-field" type="text"></textarea>
            <button class="submitBtn">Submit</button>
        </form>
        <section class="title-section">
        <h3>Comments</h3>
        {{#each blog.comments as |c|}}
        </section>
        <p style="font-weight: bold">{{c.username}}</p>
    <section class="content-section">
        <p>{{c.content}}</p>
    </section>
    {{/each}}
    </article>
    

    <script src="/js/add-comment.js"></script>