{{!-- {{#each userData}}
<article class="blog-card"></article>
    <section class="title-section">
        <h3 class="title">{{blog_title}}</h3>
    </section>

    <section class="content-section">
        <p>{{b_content}}</p>
    </section>

    <article class="comment-card"></article>
    <section class="title-section">
        <h3 class="title">{{blog_id}}</h3>
        
    </section>

    <section class="content-section">
        <p>{{c_content}}</p>
    </section>
    {{/each}} --}}
<article class="user">

    <h1>{{username}}</h1>
<h3>{{email}}</h3>
</article>

