<article class="blog-card">
    {{!-- <a href="/blog/{{id}}"> --}}
    <section class="title-section">
        <div>
         <a href="/blog/{{id}}">{{title}}
            <h3 class="title">{{blog_title}}</h3>
        </a>
        <p class="user">By {{username}}</p>
        </div>
        <div>
        <p>Date Created: {{format_date createdAt}}</p>
        <p>Date Updated: {{format_date updatedAt}}</p>
        </div>
    </section>

    <section class="content-section">
        <p>{{content}}</p>
    </section>
   
</article>